#l-article-recommended-news {
  margin-bottom: 30px;

  h3 {
    font-size: $em-base * 1.3;
    border-top: solid 1px #ccc;
    border-bottom: solid 3px #ccc;
    padding: 10px 0 10px 0;
  }

  a {
    font-size: $em-base / 1.1;
  }

  li {
    padding: 8px 0px;
    border-bottom: solid 1px #ccc;
  }
}