#l-article-comments {
  margin-bottom: 30px;

  h3 {
    font-size: $em-base * 1.3;
    border-top: solid 1px #ccc;
    border-bottom: solid 3px #ccc;
    padding: 10px 0 10px 0;
  }

  li {
    @include outer-container;

    margin-bottom: 10px;

    span {
      display: block;
      font-weight: bold;
      margin-bottom: 8px;
    }

    div:nth-child(1n) {
      @include span-columns(2);
    }

    div:nth-child(2n) {
      @include span-columns(10);
    }
  }

}