.messages {
	padding: 20px;
	margin-bottom: 10px;

	a {
		display: inline-block;
	}
}

.messages--warning {
	border: solid 1px orange;
}

.messages--error {
	border: solid 1px red;
}

.messages--status {
	border: solid 1px green;
}